<div class="container">
  <div class = "row">
    <h1>JMS Nuggets of Information</h1>
  </div>
  <div class="row">
    <div class="col-lg-4 col-lg-4 col-lg-4"><h4 class="text-primary"><strong>CentralImportMerchandiseQueue</strong></h4><strong>
      <table class="table table-condensed">
        <thead>
          <tr><th>Depth</th><th>Highwater Mark</th></tr>
        </thead>
        <tbody>
          <tr><td>6</td><td>23</td></tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4 col-lg-4 col-lg-4"><h4 class="text-primary"><strong>CentralImportMerchandiseQueueDLQ</strong></h4><strong>
      <table class="table table-condensed">
        <thead>
          <tr><th>Depth</th><th>Highwater Mark</th></tr>
        </thead>
        <tbody>
          <tr><td>2</td><td>10</td></tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4 col-lg-4 col-lg-4"><h4 class="text-primary"><strong>CentralStoreExportQueue</strong></h4><strong>
      <table class="table table-condensed">
        <thead>
          <tr><th>Depth</th><th>Highwater Mark</th></tr>
        </thead>
        <tbody>
          <tr><td>46</td><td>109</td></tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-lg-4 col-lg-4"><h4 class="text-primary"><strong>CentralStoreExportQueueDLQ</strong></h4><strong>
      <table class="table table-condensed">
        <thead>
          <tr><th>Depth</th><th>Highwater Mark</th></tr>
        </thead>
        <tbody>
          <tr><td>7</td><td>10</td></tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4 col-lg-4 col-lg-4"><h4 class="text-primary"><strong>CentralPublishQueue</strong></h4><strong>
      <table class="table table-condensed">
        <thead>
          <tr><th>Depth</th><th>Highwater Mark</th></tr>
        </thead>
        <tbody>
          <tr><td>0</td><td>1</td></tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4 col-lg-4 col-lg-4"><h4 class="text-primary"><strong>POSOrderTopic</strong></h4><strong>
      <table class="table table-condensed">
        <thead>
          <tr><th>Depth</th><th>Highwater Mark</th></tr>
        </thead>
        <tbody>
          <tr><td>11</td><td>15</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
