<div class="container">
  <div class = "row">
    <h1>System Events</h1>
  </div>
  <div class="row">
    <table id="sysevents" class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th></th>
          <th><select name="eventtype" ng-model="eventtype" ng-options="etype.id as etype.type for etype in eventtypes">
                <option value="">-- Event Type --</option>
              </select></th>
          <th>Date/Time</th>
          <th><select name="location" ng-model="location" ng-options="loc.LOCATION_NUMBER as loc.LOCATION_NUMBER for loc in locs">
                <option value="">-- Location --</option>
              </select></th>
          <th><button type="button" class="btn btn-primary btn-sm" ng-click="search()">
                <span class="glyphicon glyphicon-search"></span> Search
              </button></th>
        </tr>

        <tr>
          <th>System Event Id</th>
          <th>Event Type</th>
          <th>Date/Time</th>
          <th>Location #</th>
          <th>Event Text</th>
        </tr>  
      </thead>
      <tbody>
         <tr ng-repeat="event in sysevents">
          <td>{{event.SYSTEM_EVENT_ID}}</td>
          <td>{{event.EVENT_TYPE}}</td>
          <td>{{event.EVENT_DATETIME}}</td>
          <td>{{event.LOCATION_NUMBER}}</td>
          <td>{{event.EVENT_TEXT}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
